<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <header>
      <h1><%= htmlWebpackPlugin.options.title %></h1>
    </header>
    <main>
      <div id="shipsToPlace">
        <h2>Ships to place</h2>
        <div id="chooseBoardContainer">
          <div class="shipFourContainer">
            <div id="fourCount">1 x</div>
            <div class="fourShip shipContainer">
              <div class="cell ship"></div>
              <div class="cell ship"></div>
              <div class="cell ship"></div>
              <div class="cell ship"></div>
            </div>
          </div>

          <div class="shipThreeContainer">
            <div id="threeCount">2 x</div>
            <div class="threeShip shipContainer">
              <div class="cell ship"></div>
              <div class="cell ship"></div>
              <div class="cell ship"></div>
            </div>
          </div>

          <div class="shipTwoContainer">
            <div id="twoCount">3 x</div>
            <div class="twoShip shipContainer">
              <div class="cell ship"></div>
              <div class="cell ship"></div>
            </div>
          </div>
          <div class="shipOneContainer">
            <div id="oneCount">4 x</div>
            <div class="oneShip shipContainer">
              <div class="cell ship"></div>
            </div>
          </div>
        </div>
        <button>Start</button>
      </div>

      <div id="gameBoardsContainer">
        <div class="gameBoard left"></div>
        <div class="gameBoard right"></div>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
