body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen";

  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer {
}
#chooseBoardContainer {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  border: 2px black solid;
  padding: 10px;
  border-radius: 10px;
}
#chooseBoardContainer > .cell.free {
  background-color: white;
  border: none;
  cursor: default;
}
#gameBoardsContainer {
  display: flex;
  gap: 50px;
}
.gameBoard {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  /* grid-gap: 2px; */
  width: 500px;
  /* height: 500px; */
}
.gameBoard.right {
  display: none;
}

.cell {
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.cell.selected {
  /* TODO */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5px;
}
.cell:active {
}
.cell:hover {
  background-color: #ccc;
  border: 1px solid #29c22e;
}
.free {
  background-color: #ddd;
}

.ship {
  background-color: blue;
}
.ship:hover {
  background-color: darkblue;
}
.miss {
  background-color: grey;
}
.miss:hover {
  background-color: darkgrey;
}
.hit {
  background-color: red;
  background-image: url(./assets/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hit:hover {
  background-color: darkred;
}
