#gameBoardsContainer {
  display: flex;
  gap: 50px;
}
.gameBoard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* grid-gap: 2px; */
  width: 500px;
  height: 500px;
}
.cell {
  border: 1px solid #ccc;
  text-align: center;
  /* line-height: 50px; */
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.cell:hover {
  background-color: #ccc;
  border: 1px solid #29c22e;
}
.free {
  background-color: #ddd;
}
.ship {
  background-color: blue;
}
.ship:hover {
  background-color: darkblue;
}
.miss {
  background-color: grey;
}
.miss:hover {
  background-color: darkgrey;
}
.hit {
  background-color: red;
  background-image: url(./assets/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hit:hover {
  background-color: darkred;
}
